
/* Styling HTML Document */
html{
    font-family: 'Times New Roman', Times, serif;
    
    margin: 2%;

}

/* Styling Body Element */
body {
    margin: 1%;
    padding: 1%;
    background-color: powderblue;
}

/* Styling Header */
header{
    
    color: rgb(255, 255, 255);
    padding: 0.5%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    
}

header h1{
    margin: 0.5%;
    
    padding: 0.5%;
    
}



.navigation a{
    text-decoration: none;
    font-size: 1.8rem;
    margin: 1%;
    padding-left: 1%;
    padding-right: 1%;
    

}

/* Styling Footer */

footer{ 
    color: rgb(255, 255, 255);
    background-color: beige;
    padding: 0.5%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
    
}
